<!DOCTYPE html>
<meta charset=UTF-8>
<html>
<head>

	{% load staticfiles %}
<link rel="stylesheet" href="{% static 'styles/Estilos.css' %}" />
<!--Bootstrap-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/lib s/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<table border="2px" width="5px">
  <tr>
    <td>
        <h1> {{seccion}} </h1>
    </td>
    <td>
        <div class="nav nav-pills nav-stacked" role="group" >
         <a type="button" class="btn btn-primary btn-lg btn-block">Volver</a>
        </div>
    </td>
    <td>
        <div class="nav nav-pills nav-stacked" role="group" >
         <a type="button" class="btn btn-primary btn-lg btn-block">Hacer Pedido</a>
        </div>
    </td>
  </tr>

<tr>
  <td colspan="2">
<div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
        {% for bebida in bebidas %}
          <tr>
            <td draggable="true">{{bebida.nombre}}</td>
            <td draggable="true">{{bebida.precio}}</td>
          </tr>
        {% endfor %}
        {% for plato in platos %}
          <tr>
            <td draggable="true">{{plato.nombre}}</td>
            <td draggable="true">{{plato.precio}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
</div>
  <td>
    <table border=2px>
      <tr>
        <td>
         <body>
          <div><u> Platos elegidos </u></div>
         </body>
      </tr>
         </table>
  </td>
</tr>

<tr>
</tr>

</table>
</body>

<!-- Logica Botones -->

{% if seccion.id_seccion == 1 %}

    <form method="post" action="/carta/{{siguiente}}">
        {% csrf_token %}
        <button type="submit"> Proxima pagina</button>
    </form>
{% elif seccion.id_seccion == 7 %}
    <form method="post" action="/carta/{{anterior}}">
        {% csrf_token %}
        <button type="submit"> Anterior pagina</button>
    </form>
{% else %}
    <form method="post" action="/carta/{{anterior}}">
        {% csrf_token %}
        <button type="submit"> Anterior pagina</button>
    </form>
    <form method="post" action="/carta/{{siguiente}}">
        {% csrf_token %}
        <button type="submit"> Proxima pagina</button>
    </form>

{% endif %}

