<!DOCTYPE html>
<meta charset=UTF-8>
<html>
<head>
	{% load staticfiles %}
	
<link rel="stylesheet" href="{% static 'styles/descanso.css' %}" />
<!--Bootstrap-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/lib s/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
<table>
<tr>
  <td>
    <img src="{% static 'images/Pantallazo.png' %}">
  </td>
  <td>
</tr>
<tr>
  <td>
<div id="slider">
<div id="cp_widget_d45e170d-4a0b-47e6-a1d6-63a60556dee4">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_d45e170d-4a0b-47e6-a1d6-63a60556dee4"; cpo["_fid"] = "A4DAXEN3VFyb";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>New Gallery 2015/11/19</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 720</span><span>height</span><span> 480</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 550</span><span>height</span><span> 350</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 680</span><span>height</span><span> 276</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 612</span><span>height</span><span> 344</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 612</span><span>height</span><span> 344</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 890</span><span>height</span><span> 370</span></noscript>
   </div>
  </td>
</tr>
  <img alt="full screen background image" src="{% static 'images/fondo.jpg' %}" id="full-screen-background-image" />
</body>