<!DOCTYPE html>
<meta charset=UTF-8>
<html>
<head>
<link rel="stylesheet" href="{{STATIC_URL}}/styles/Estilos.css" />
<!--Bootstrap-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/lib s/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
<br><br>
<!-- Menú de navegación del sitio -->

<div class="col-md-12">
	<div class="nav nav-pills nav-stacked col-md-4 col-md-offset-4" role="group" >
		<a href="#" type="button" class="btn btn-primary btn-lg btn-block">Carta</a>
		<a type="button" class="btn btn-primary btn-lg btn-block">Descanso</a>
		<a type="button" class="btn btn-primary btn-lg btn-block">Cuenta</a>
	</div>
</div>

<!-- Contenido principal -->

<IMG SRC="Pantallazo.jpg" style="width:128px;height:128px;">

<!-- SlideShow-->
<div id="cp_widget_3264e41c-e997-4624-b886-24265bc0de28">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_3264e41c-e997-4624-b886-24265bc0de28"; cpo["_fid"] = "AIIAcCNI0vnY";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>New Gallery 2015/11/10</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 720</span><span>height</span><span> 480</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 550</span><span>height</span><span> 350</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 680</span><span>height</span><span> 276</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 612</span><span>height</span><span> 344</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 612</span><span>height</span><span> 344</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 890</span><span>height</span><span> 370</span></noscript>

</body>
</html>
